@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

@font-face {
    font-family: "GongGothicMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 스크롤바 없애기 */
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

:root {
    --main-color: #fff;
    --sub-color: #ffff00;
}

/* 애니메이션되는 배경색 전환 */
section {
    background: linear-gradient(141deg, #3067d4, #d0498a);
    background-size: 400% 400%;
    animation: bgAni 14s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes bgAni {
    0% {
        background-position: 0% 2%;
    }

    50% {
        background-position: 100% 99%;
    }

    100% {
        background-position: 0% 2%;
    }
}

/* 헤더 */
#header {
    position: fixed;
    width: 100%;
    height: 100px;
    font-family: "GongGothicMedium";
    z-index: 100;
}

#header .inner {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    display: flex;
    align-items: center;
}

#header .gnb {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .gnb li {
    position: relative;
}

#header .gnb li:hover a {
    color: var(--sub-color);
}

#header .gnb li.on a {
    color: var(--sub-color);
}

#header .gnb li a {
    font-size: 1.5rem;
    padding-left: 2rem;
    transition: 0.5s;
}

#header .gnb li a::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -15px;
    left: calc(50% + 16px);
    transform: translateX(-50%);
    background-color: var(--sub-color);
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

#header .gnb li a.on::before {
    opacity: 1;
}

/* 햄버거 버튼 꾸미기 */
#header .ham {
    position: relative;
    width: 40px;
    display: none;
}

#header .ham::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid white;
}

#header .ham span {
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 100%;
    transform: translateY(-50%);
    border-top: 5px solid white;
    border-radius: 5px;
}

#header .ham span:nth-of-type(1) {
    top: calc(50% - 12px);
}

#header .ham span:nth-of-type(3) {
    top: calc(50% + 12px);
}

#header .ham_menu {
    display: none;
}

/* header에 백그라운드 넣기 */
.header_bg {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
    opacity: 20%;
    z-index: 100;
}

/* 메인 화면 */
.sec1 {
    color: var(--main-color);
    position: relative;
}

.sec1>* {
    position: absolute;
}

.sec1 .comment_wrap {
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
}

.sec1 .comment .slow {
    color: #f6f282;
}

.sec1 .comment .steadily {
    color: #94ffc2;
}

.sec1 .circle_box {
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translateY(-50%);
}

.sec1 .circle_box .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #333, #fff) no-repeat;
    background-size: 400%;
    border-radius: 40% 60% 40% 60%;
    opacity: 0.6;
}

.sec1 .circle_box .circle:nth-child(1) {
    animation: move_circle1 15s alternate linear infinite;
    top: -70%;
    width: 80%;
    height: 80%;
}

@keyframes move_circle1 {
    0% {
        left: 30%;
    }

    100% {
        transform: rotate(360deg);
        left: 250%;
    }
}

.sec1 .circle_box .circle:nth-child(2) {
    width: 150%;
    height: 150%;
    border-radius: 50%;
    animation: move_circle2 30s alternate linear infinite;
}

@keyframes move_circle2 {
    0% {
        top: 120%;
        left: -100%;
    }

    25% {
        top: 100%;
        left: -70%;
    }

    50% {
        top: 80%;
        left: -40%;
    }

    75% {
        top: 60%;
        left: -10%;
    }

    100% {
        top: 40%;
        left: 20%;
    }
}

.sec1 .scroll_down {
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "GongGothicMedium";
}

.sec1 .scroll_down a {
    font-size: 14px;
    position: relative;
}

.sec1 .scroll_down a::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    border-right: 1px solid white;
    animation: scroll_down 1.5s ease-in-out alternate infinite;
}

@keyframes scroll_down {
    0% {
        top: 120%;
    }

    100% {
        top: 180%;
    }
}

.sec1 .pagination {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: calc(60px + 48px);
    z-index: 10;
}

.sec1 .pagination span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.sec1 .pagination span.on {
    background-color: var(--sub-color);
}

/* 두 번째 섹션 */
#about {
    color: white;
}

#about .inner {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    position: relative;
}

#about .inner::before {
    content: "";
    position: absolute;
    top: calc(100px + 15%);
    width: 100%;
    border-bottom: 1px dashed white;
}

#about .inner>* {
    position: absolute;
}

#about .title {
    top: calc(100px + 5%);
    left: 50%;
    transform: translateX(-50%);
}

#about h3 {
    width: 13.7ch;
    overflow: hidden;
    white-space: nowrap;
    font-size: 36px;
    animation: typing 1.3s steps(100), cursor 1s linear infinite;
    position: relative;
    display: none;
}

#about h3.on {
    display: block;
}

#about p,
#about span {
    font-size: 22px;
    font-weight: 300;
}

/* 타이핑 효과 */
@keyframes typing {
    0% {
        width: 0;
    }
}

/* 커서 깜빡임 효과 */
@keyframes cursor {
    0% {
        border-right: none;
    }

    100% {
        border-right: 1px solid white;
    }
}

#about .name,
#about .birth {
    line-height: 35px;
}

#about .name {
    top: calc(100px + 18%);
    animation: name_ani 0.5s linear;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    left: -50%;
    display: none;
}

#about .name.on {
    display: block;
}

@keyframes name_ani {
    0% {
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
        transform: rotate(720deg);
    }
}

#about .birth {
    top: calc(100px + 27%);
    animation: birth_ani 1s linear;
    animation-delay: 1300ms;
    animation-fill-mode: forwards;
    left: -50%;
    display: none;
}

#about .birth.on {
    display: block;
}

@keyframes birth_ani {
    0% {
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

#about .life {
    top: calc(100px + 37%);
    animation: life_ani 0.8s linear;
    animation-delay: 2200ms;
    animation-fill-mode: forwards;
    left: -100%;
    display: none;
}

#about .life.on {
    display: block;
}

@keyframes life_ani {
    0% {
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

#about .life p {
    font-size: 20px;
    line-height: 35px;
}

#about .wrap {
    top: calc(100px + 55%);
    width: 100%;
}

#about .wrap ul {
    display: flex;
    justify-content: space-between;
}

#about .wrap ul li {
    position: relative;
}

#about .wrap ul li:nth-of-type(1) {
    width: 15%;
}

#about .wrap ul li:nth-of-type(2) {
    width: 30%;
}

#about .wrap ul li:nth-of-type(3) {
    width: 45%;
}

#about .wrap ul li>p {
    text-align: center;
    font-weight: 400;
    padding-bottom: 1rem;
}

#about .wrap ul li .skill_wrap p {
    position: absolute;
    top: -40px;
}

#about .wrap ul li>div {
    width: 100%;
    height: 175px;
    border: 2px solid white;
    border-radius: 16px;
}

#about .wrap ul li .skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#about .wrap ul li .skills>div {
    position: relative;
    transition: 0.7s;
}

#about .wrap ul li .skills>div:hover img {
    top: -450%;
    left: 750%;
    transform: rotate(1080deg);
}

#about .wrap ul li .skills img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    margin: 10px;
    transition: 1s;
}

#about .wrap ul li .skills p {
    position: absolute;
    top: 170px;
    font-size: 20px;
    line-height: 35px;
    transition: 0.5s;
    overflow: hidden;
    width: 500%;
    border: 2px solid white;
    border-radius: 16px;
    padding: 0.7rem;
    display: none;
    transition: 0.7s;
}

#about .wrap ul li .skills>div:hover p {
    display: block;
    top: -340%;
    left: 750%;
}

#about .wrap ul li .skills span {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    cursor: default;
    text-align: center;
    animation: focus_ani 1.3s ease-in-out alternate infinite;
}

@keyframes focus_ani {
    0% {
        bottom: -40px;
        color: #dbd6d6;
    }

    100% {
        bottom: -30px;
    }
}

#about .wrap ul li .license,
#about .wrap ul li .education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about .wrap ul li .license p,
#about .wrap ul li .education p {
    font-size: 20px;
    text-align: center;
}

#about .wrap ul {
    animation: ul_ani 0.7s linear;
    animation-delay: 2700ms;
    animation-fill-mode: forwards;
    padding-top: 20rem;
    display: none;
}

#about .wrap ul.on {
    display: flex;
}

@keyframes ul_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        padding-top: 0;
    }
}

#about .btn_close {
    display: none;
}

/* 세 번째 섹션 */
#portfolio .img_wrap {
    position: relative;
}

#portfolio img {
    width: 100%;
}

#portfolio .comment {
    padding-top: calc(100px + 2rem);
    text-align: center;
}

#portfolio .comment h3 {
    font-size: 36px;
    color: var(--main-color);
}

#portfolio .slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 4rem;
    white-space: nowrap;
}

#portfolio .slide ul {
    display: flex;
    width: 133.3333%;
}

#portfolio .slide ul li {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 포트폴리오 리스트 추가될 때 화면 유지하기 */
#portfolio .slide ul li:nth-of-type(4)~li {
    display: none;
}

#portfolio .slide ul li>div {
    width: 80%;
    filter: blur(10px);
    transform: scale(0.6);
    transition: .5s;
}

#portfolio .slide ul li.add>div {
    transform: scale(1);
    filter: blur(0px)
}

#portfolio .slide ul li strong {
    display: block;
    text-align: center;
    font-size: 28px;
    color: var(--main-color);
    padding-top: 0.7rem;
}


#portfolio .slide .img_wrap a {
    position: absolute;
    bottom: 20px;
    right: 4.5rem;
    font-size: 14px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

#portfolio .slide .img_wrap a:nth-of-type(2) {
    right: 0;
}

#portfolio .slide .img_wrap a:hover {
    color: #3067d4;
    background-color: white;
}


#portfolio .slide ul li p {
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#portfolio .slide ul li span {
    font-size: 18px;
}

#portfolio .prev,
#portfolio .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

#portfolio .prev {
    left: 30%;
}

#portfolio .next {
    right: 30%;
}

/* contact */
#contact {
    overflow: hidden;
    position: relative;
}

#contact .inner {
    max-width: 1400px;
    margin: auto;
}

#contact h3 {
    font-size: 36px;
    color: var(--main-color);
    text-align: center;
}

#contact .mail img {
    width: 5%;
    padding-right: 1rem;
}

#contact .mail {
    padding-top: calc(100px + 3rem);
}

#contact .mail div {
    padding-top: 1rem;
}

#contact .mail a {
    color: var(--sub-color);
    font-size: 24px;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .box_content {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
}

#contact .box_content .profile {
    padding: 2rem;
    width: 25%;
}

#contact .box_content .profile_img {
    border-radius: 16px;
}

#contact .box_content .profile img {
    width: 100%;
    box-shadow: 5px 7px 4px #333, -5px -4px 4px #333;
}

#contact .box_content .profile .phone_num {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
}

#contact .box_content .profile .phone_num img {
    width: 10%;
    box-shadow: none;
}

#contact .box_content .profile .phone_num span {
    padding-left: 1rem;
}

#contact .box_content .comment {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#contact .box_content .comment span {
    color: var(--main-color);
    font-size: 32px;
}

#contact .box_content .comment p {
    padding: 2rem 2rem 0 0;
    color: var(--main-color);
    font-size: 26px;
    line-height: 1.7;
    font-weight: 300;
}

#contact .box_content .github {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#contact .box_content .github img {
    width: 35px;
    box-shadow: none;
}

#contact .lower {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#contact .lower p {
    text-align: center;
    line-height: 1.6;
    color: var(--main-color);
    font-weight: 300;
    font-size: 14px;
}

/* 반응형 */
@media (max-width: 1500px) {
    #contact .box_content {
        max-width: 1200px;
        margin: 2rem 3rem 6rem auto;
    }

    #contact .box_content .comment span {
        font-size: 30px;
    }

    #contact .box_content .comment p {
        padding-right: 2rem;
        font-size: 22px;
    }

    .sec1 .pagination {
        right: 1rem;
    }

    #contact .box_content .profile .phone_num img {
        width: 15%;
    }
}

@media (max-width: 1450px) {
    .inner {
        padding: 0 1rem;
    }

    #about h3 {
        font-size: 36px;
    }

    #about .wrap ul li>p {
        font-size: 18px;
    }

    #about .name,
    #about .birth,
    #about .life {
        padding-left: 2rem;
    }

    #about .name p,
    #about .name span,
    #about .birth p,
    #about .birth span,
    #about .life p {
        font-size: 18px;
    }

    #about .wrap ul {
        padding-top: 25rem;
        padding-right: 3rem;
    }

    #about .wrap ul li .license p,
    #about .wrap ul li .education p {
        font-size: 16px;
    }

    #portfolio .slide {
        padding-top: 1rem;
    }

    #portfolio .slide .img_wrap>div {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
    }

    #portfolio .slide .img_wrap>div a {
        position: static;
        margin-left: 10px;
    }
}

@media (max-width: 1005px) {
    #header h1 {
        padding: 1.7rem;
    }

    #header .gnb {
        display: none;
    }

    #header .ham {
        display: block;
        z-index: 100;
        cursor: pointer;
    }

    #header .ham.on {
        display: none;
    }

    /* 햄버거 메뉴 */
    #header .ham_menu {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: 1.1s;
        background-color: #3067d4;
    }

    #header .ham_menu.on {
        right: 0;
    }

    #header .ham_menu ul {
        width: 100%;
    }

    #header .ham_menu ul li {
        padding: 1.5rem 0;
        text-align: center;
    }

    #header .ham_menu ul li a {
        position: relative;
        font-size: 3.5rem;
        transition: 0.3s;
    }

    #header .ham_menu ul li a:hover {
        border-bottom: 5px solid #ffff00;
    }

    #header .ham_menu .close {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 3rem;
        padding: 1.5rem;
    }

    #header .ham_menu .close i {
        cursor: pointer;
        transition: 0.5s;
    }

    #header .ham_menu .close i:hover {
        transform: rotate(360deg);
    }

    .sec1 .comment {
        font-size: 1.5rem;
    }

    .sec1 .scroll_down a {
        font-size: 12px;
    }

    .sec1 .circle_box .circle:nth-child(1) {
        width: 30%;
        height: 30%;
        top: -30%;
        animation: move_circle1 10s alternate linear infinite;
    }

    @keyframes move_circle1 {
        0% {
            left: 30%;
        }

        100% {
            transform: rotate(360deg);
            left: 100%;
        }
    }

    .sec1 .circle_box .circle:nth-child(2) {
        width: 75%;
        height: 75%;
        border-radius: 50%;
        animation: move_circle2 15s alternate linear infinite;
    }

    @keyframes move_circle2 {
        0% {
            top: 120%;
            left: -50%;
        }

        25% {
            top: 100%;
            left: -30%;
        }

        50% {
            top: 80%;
            left: -10%;
        }

        75% {
            top: 60%;
            left: 10%;
        }

        100% {
            top: 40%;
            left: 30%;
        }
    }
    #about .inner>* {
        position: static;
    }
    #about .inner::before {
        top: calc(100px + 6rem);
    }
    #about .title {
        padding-top: calc(100px + 2rem);
        display: flex;
        justify-content: center;
        transform: none;
    }
    #about .name,
    #about .birth,
    #about .life {
        animation: none;
    }

    #about .name {
        padding-top: 2rem;
    }

    #about .birth {
        transform: none;
    }
    #about .name, #about .birth, #about .life {
        padding-left: 0;
    }

    #about .life {
        top: calc(100px + 25%);
        left: 2rem;
        padding-left: 0 !important;
    }

    #about .life p {
        font-size: 16px;
    }

    #about .title {
        top: calc(100px + 2rem);
    }

    #about .title h3 {
        font-size: 30px;
    }

    #about .wrap {
        top: calc(100px + 50%);
        width: 117%;
    }

    #about .wrap ul {
        width: 75%;
        padding-top: 0 !important;
        padding-right: 0 !important;
        animation: none;
    }

    #about .wrap ul li {
        height: 250px;
    }

    #about .wrap ul li:nth-of-type(1) {
        width: 25%;
    }

    #about .wrap ul li:nth-of-type(2) {
        width: 30%;
    }

    #about .wrap ul li:nth-of-type(3) {
        width: 40%;
    }

    #about .wrap ul li div p {
        font-size: 14px !important;
    }

    #about .wrap ul li .skills img {
        width: 50%;
    }

    #about .wrap ul li .skills>div:hover img {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    #about .wrap ul li .skills>div:hover p {
        display: none;
    }

    #about .wrap ul li .license,
    #about .wrap ul li .education {
        padding: 1rem;
    }

    #about .wrap ul li .license p,
    #about .wrap ul li .education p {
        line-height: 1.6;
    }

    #about .wrap ul li .skills span {
        display: none;
    }

    #portfolio {
        position: relative;
    }

    #portfolio .comment h3 {
        font-size: 24px;
    }

    #portfolio .slide {
        position: absolute;
        top: 15%;
    }

    #portfolio .slide ul {
        width: 400%;
    }

    #portfolio .slide ul li.add>div {
        transform: scale(0.8);
    }

    #portfolio .slide ul li>div {
        margin-right: 200vw;
        transform: scale(0.6);
    }

    #portfolio .prev,
    #portfolio .next {
        top: 40%;
    }

    #portfolio .next {
        right: 10%;
    }

    #portfolio .prev {
        left: 10%;
    }

    #contact .mail h3 {
        font-size: 24px;
    }

    #contact .mail strong {
        font-size: 20px;
    }

    #contact .box_content .comment span {
        font-size: 24px;
    }

    #contact .box_content .comment p {
        font-size: 18px;
    }

    #contact .box_content .profile .phone_num img {
        width: 20%;
    }
}

@media (max-width: 672px) {
    .sec1 .comment_wrap {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: none;
    }
    .sec1 .comment {
        transform: none;
        font-size: 1.3rem;
    }
    .sec1 .pagination {
        top: 40%;
    }
    .sec1 .circle_box .circle:nth-child(1) {
        top: 0;
    }
    @keyframes move_circle1 {
        0% {
            left: 10%;
        }
    
        100% {
            transform: rotate(360deg);
            left: 80%;
        }
    }
    @keyframes move_circle2 {
        0% {
            top: 200%;
            left: -80%;
        }
    
        25% {
            top: 180%;
            left: -60%;
        }
    
        50% {
            top: 160%;
            left: -40%;
        }
    
        75% {
            top: 140%;
            left: -20%;
        }
    
        100% {
            top: 120%;
            left: 0;
        }
    }
    #about .wrap ul li .skills span {
        top: 100%;
    }

    #contact .mail {
        padding-top: calc(100px + 2rem);
    }

    #contact .mail div {
        padding: 1rem 0;
    }

    #contact .box_content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #contact .box_content .comment {
        padding-top: 1rem;
    }

    #contact .box_content .comment p {
        padding: 1rem 0;
        text-align: center;
    }

    #contact .box_content .profile {
        width: 50%;
        padding: 2rem 0 0 0;
    }

    #contact .lower {
        position: static;
        padding-top: 1.5rem;
        transform: none;
    }
}